<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserRoleMapper">
    <resultMap id="userMap" type="User">
        <id property="id" column="id"></id>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="accessToken" column="access_token"/>
        <result property="status" column="status"/>
        <collection property="roles" ofType="Role">
            <result property="name" column="name"/>
        </collection>
    </resultMap>
    <select id="selectByUsername" resultMap="userMap">
        SELECT u.*, r.name
        FROM user u, user_role ur, role r
        WHERE u.id=ur.uid AND r.id=ur.rid
        AND u.username=#{username}
    </select>
</mapper>