<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.LogInfoMapper">
    <select id="selectUv" resultType="int">
        SELECT COUNT(DISTINCT ip_addr) FROM log_info
        WHERE TO_DAYS(create_time)=TO_DAYS(NOW())
    </select>
</mapper>
