<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.MenuRoleMapper">
    <delete id="deleteBatchByRid" parameterType="List">
        DELETE FROM menu_role WHERE rid IN
        <foreach collection="list" item="rid" open="(" separator="," close=")">
            #{rid}
        </foreach>
    </delete>
</mapper>
