<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">
    <resultMap id="baseMap" type="User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="nickname" column="nickname"/>
        <result property="accessToken" column="access_token"/>
        <result property="headImg" column="head_img"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="version" column="version"/>
    </resultMap>

    <!--property：对应JavaBean中的字段-->
    <!--ofType：对应JavaBean的类型-->
    <!--javaType：对应返回值的类型-->
    <!--column：对应数据库column的字段，不是JavaBean中的字段-->
    <!--select：对应查询子集的sql-->
    <!--extends: 可以实现存在继承关系的两个类实体的映射。extends填父类的resultMap。-->

    <resultMap id="userMap" type="User" extends="baseMap">
        <!-- column="id"和collection的id对应
         column="id" 的值对应查询的id-->
        <collection property="roles" column="id" ofType="Role" select="selectRole">
            <id property="id" column="id"/>
            <result property="name" column="r_name"/>
            <result property="nickname" column="nickname"/>
            <result property="createTime" column="create_time"/>
            <result property="updateTime" column="update_time"/>
            <result property="version" column="version"/>
        </collection>
    </resultMap>

    <select id="selectRole" resultType="Role">
        SELECT r.*, r.name r_name, u.id as uid
        FROM user u, role r, user_role ur
        WHERE u.id=ur.uid AND r.id=ur.rid
        AND u.id = #{id}
    </select>
    <select id="selectPage" resultMap="userMap">
        SELECT * FROM user
    </select>

    <select id="selectByUsername" parameterType="String" resultMap="userMap">
        SELECT * FROM user WHERE username=#{username}
    </select>

</mapper>
